@media (max-width: 370px) {
    #book {
        .share {
            flex-wrap: wrap;
            span {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}